*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
    font-family: "Genos", sans-serif;
    overflow-x: hidden;
}
h1 {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color:green;
    }
.logo-1{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.container {width: 100%;}
.container{
    
background: white;
backdrop-filter: blur(10.7px);
-webkit-backdrop-filter: blur(10.7px);
}
label{
    font-weight: bold;
}
.tutors{
  display: flex;
  gap: 90px;
  max-width: 100%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;

  
}

.navbar-brand{
    color: crimson;
}


.bg-body-tertiary { background-color: white !important; 
     border: 0px 0px 2px 0px;
        color: crimson !important}
 .nav-link{
    color: crimson;
}
.active{
    color: crimson;
}
.navbar-toggler{
    color: crimson;
}
.btn{
    height: 40px;
    width: 80px;
    
}
.button {
    color: white !important;
    border: none;
}

.herologo {
    margin-top: 30px;
    font-family: "Philosopher", sans-serif;
    font-size: 3.5vw;
    float:right;
    margin-bottom: 10px;
    margin-right: 0px;
}
.ht{
    font-family: "Philosopher", sans-serif;
       
}
 .herotext{
    margin-top: 10px;
    font-family: "Philosopher", sans-serif;
    font-size: 3.5vw;
    float:left;
    margin-bottom: 10px;
    margin-left: 0px;
}
.Unique {
    color: crimson;
    font-size: 40px;
    
}
.num {
    color: white;
    font-size: 5vw;
    margin-right: 0pxs;

}
.accordion-header {overflow: visible;}
@media screen {
    
}
footer{
    background-color: crimson !important;
    color: #000;
    padding: 15px;
    margin-bottom: 0px;
  }
  footer i{
   border:solid #000;
   padding: 10px;
   border-radius: 50px;
  }
  footer a{
    text-decoration: none;
    color: #faebd7;
  }
  .soc-handles{
    margin-left: 50px;
  }
  footer p{
    text-align: left;
  }
  .fot{
    text-align: center;
  }
 
  @media (max-width: 600px) {
    .list{
      display: flex;
      flex-direction: column;
      margin-right: 0px;
      width: 100%;

}}
.end{
    text-align:center;
}
.row{
    margin: 0px;
    width: 100%;
}
